<launch>
  <!-- Serial bridge nodes -->
  <node name="serial_transmitter" pkg="serial_bridge" type="serial_transmitter.py"/>
  <node name="serial_receiver" pkg="serial_bridge" type="serial_receiver.py"/>
  
  <!-- Serial port -->  
  <param name="serial_port" value="/dev/ttyUSB0"/>
  
  <!-- Configuration parameters -->
  
  
</launch>
